/* App.css */
.app-container {
  padding: 20px;
  text-align: center; /* 전체 텍스트 가운데 정렬 */
}

.title {
  margin-bottom: 20px;
}

.create-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.create-section input {
  margin-right: 10px;
}

.read-button {
  display: block;
  margin: 0 auto 20px auto;
}

.item-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* 리스트를 가운데 정렬 */
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 50%; /* 너비를 설정하여 왼쪽 정렬 효과 */
  justify-content: flex-start; /* 왼쪽 정렬 */
}

.item input {
  margin-right: 10px;
}
