@media print {
  @page {
    size: A4;
    margin: 18mm;
  }

  .page {
    page-break-after: always;
    padding: 15mm;
    box-sizing: border-box;
    background: white;
  }

  body {
    margin: 0;
  }
}